.container {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.navbar-brand
{
    height: 50px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-color: none;
    font-family: Haettenschweiler;
    font-size: xx-large;
    font-weight: lighter;
}

.p-2
{
    font-family: Haettenschweiler;
    font-size: larger;
    text-decoration: black !important;
    color: black;
}

.contact
{
    width: 500px;
    margin-left: 25%;
    margin-top: 50px;
}

.contactInfo
{
    margin-top: 200px;
    margin-left: 25%;
}

h5
{
    
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    align: center;
    
}