.container {
    margin: 0 auto;
    width: auto;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.profilephoto
{
    width: auto;
    height: 900px;
    padding: 0;
    border: black;
    
}

.navbar-brand
{
    height: 50px;
    padding-bottom: 10px;
    background-color: none;
    font-family: Haettenschweiler;
    font-size: xx-large;
    font-weight: lighter;
}

.aboutMe
{
    width: auto;
    height: 775px;
    background-color: antiquewhite; 
    margin-top: 50px;
    margin-left: 100px;
}

.card
{
    width: auto;
    height: 775px;
    background-color: antiquewhite; 
    margin-top: 50px;
    margin-left: 100px;
}

@media only screen and (max-width: 768px) 
{
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}

h1, p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.p-2
{
    font-family: Haettenschweiler;
    font-size: larger;
    text-decoration: black !important;
    color: black;
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    align: center;
    
  }